<div class="row" data-ng-controller="PermissionController">
    <form name="form" novalidate="novalidate" monster-validate="save()" data-ng-init="find()" id="validate">
        <div class="col-xs-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Permissions <span class="semi-bold">Management</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="form-group">
                        <label class="form-label">Permission</label>
                        <div class="controls">
                            <input type="text" class="form-control validate[required,custom[permissionName]]" data-ng-model="PermissionData.permission_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <div class="controls">
                            <textarea class="form-control validate[required,minSize[10]]" data-ng-model="PermissionData.permission_description"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-success btn-cons" type="submit">Save</button>
                            <a class="btn btn-white btn-cons" href="#/permissions">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>