<div id="mediaManager">
    <div id="drop-window" style="display: none;">
        <div class="help-text"><h4>Drop files to upload</h4></div>
    </div>
    <ul id="tab-01" class="nav nav-tabs">
        <li data-ng-class="{active: tab == 1}"><a href="#" data-ng-click="tab=1">Uploader</a></li>
        <li data-ng-class="{active: tab == 2}"><a href="#" data-ng-click="tab=2">Management</a></li>
        <li data-ng-show="tab==3" data-ng-class="{active: tab == 3}"><a href="#">Update folder</a></li>
    </ul>
    <div class="tab-content">
        <div data-ng-show="tab===1" id="uploader" class="tab-pane" data-ng-class="{active: tab == 1}">
            <div class="uploader-border">
                <div class="uploader-inner">
                    <p>Drop files anywhere to upload</p>
                    <a class="btn btn-primary" id="fileuploader" plupload="url" drop-element="uploader">BROWSE</a>
                </div>
            </div>
        </div>
        <div data-ng-show="tab===2" id="management" class="tab-pane" data-ng-class="{active: tab == 2}">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <ul id="ListDirectories" class="filetree">
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6 noPadding">
                    <div class="alert alert-info" data-ng-show="loading">
                        <button data-dismiss="alert" class="close"></button>
                        Loading images ... </div>
                    <div class="mScrollBarFile">
                        <ul id="gallery" data-ng-init="findImages()">

                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 mScrollBar" id="image-detail">
                    <div id="message"></div>
                    <div class="grid simple horizontal red">
                        <div class="grid-title">
                            <h4>Image <span class="semi-bold">Preview</span></h4>
                        </div>
                        <div class="grid-body">
                            <div data-ng-show="ImageSelected.file_url">
                                <img data-ng-src="{{ImageSelected.file_url}}" class="preview" />
                                <p>{{ImageSelected.file_name}}</p>
                                <p>Size: {{ImageSelected.file_width}}x{{ImageSelected.file_height}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="tab==3" id="updateFolder" class="tab-pane" data-ng-class="{active: tab==3}">
            <form novalidate="novalidate" id="validate" monster-validate="saveDirectory()">
                <div class="col-xs-12">
                    <div class="grid simple">
                        <div class="grid-body no-border">
                            <div class="form-group">
                                <label class="form-label">Directory name</label>
                                <div class="controls">
                                    <input type="text" class="form-control validate[required]" data-ng-model="DirectoryData.directory_name" />
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-cons" type="submit">Save</button>
                                    <a class="btn btn-white btn-cons" href="#" data-ng-click="tab=2">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary addFile" ng-click="insert()" disabled="disabled">Insert</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>