

<div class="navbar-inner">
    <div class="header-seperation">
        <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
            <li class="dropdown"><a id="main-menu-toggle" href="#" class="">
                <div class="iconset top-menu-toggle-white"></div>
            </a></li>
        </ul>

        <h2 class="logo"><a href="#/dashboard"><span class="bold">M</span>onster</a></h2>

    </div>

    <div class="header-quick-nav">

        <div class="pull-left">
            <ul class="nav quick-section">
                <li class="quicklinks"><a href="#" class="" id="layout-condensed-toggle">
                    <div class="iconset top-menu-toggle-dark"></div>
                </a></li>
            </ul>
        </div>


        <div class="pull-right">
            <div class="chat-toggler"><a>
                <div class="user-details">
                    <div class="username">{{UserData.first_name}} <span
                            class="bold">{{UserData.last_name}}</span></div>
                </div>
                &nbsp;&nbsp;&nbsp;
            </a>

                <div class="profile-pic"><img data-ng-src="{{UserData.avatarUrl}}" alt="" width="35"
                                              height="35"/></div>
            </div>
            <ul class="nav quick-section ">
                <li class="quicklinks"><a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#"
                                          id="user-options">
                    <div class="iconset top-settings-dark "></div>
                </a>
                    <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                        <li><a href="#/users/update/{{UserData.user_id}}"><i class="fa fa-cog"></i> My Account</a></li>
                        <li class="divider"></li>
                        <li><a href="{{$state.BASE_URL}}logout"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
