
<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
<div class="user-info-wrapper">
    <div class="user-info">
        <div class="greeting">Welcome</div>
        <div class="username">{{UserData.first_name}} <span class="semi-bold">{{UserData.last_name}}</span></div>
    </div>
</div>

<ul>
    <li class=""><a href="#/users"> <i class="fa fa-user"></i> <span class="title">Users</span></a></li>
    <li class=""><a href="#/groups"> <i class="fa fa-users"></i> <span class="title">Groups</span></a></li>
    <li class=""><a href="#/permissions"> <i class="fa fa-star"></i> <span class="title">Permissions</span></a></li>

</ul>
<div class="clearfix"></div>

</div>