<div class="row-fluid" data-ng-controller="GroupController">
    <div class="grid simple">
        <div class="grid-title">
            <h4>Groups <span class="semi-bold">Management</span></h4>
        </div>

        <div class="grid-body">
            <a class="btn btn-primary btn-cons" href="#/groups/update/">Create</a> <br/>
            <table datatable class="table table-hover table-condensed dataTable"  dt-options="dtOptions" dt-columns="dtColumns" width="100%"></table>
        </div>
    </div>
</div>