<div class="row" data-ng-controller="GroupController">
    <form novalidate="novalidate" monster-validate="save()" data-ng-init="find()" id="validate">
        <div class="col-md-7 col-xs-12 pull-right">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Groups <span class="semi-bold">Settings</span></h4>
                </div>
                <div class="grid-body no-border">
                    <table class="table table-hover table-condensed" data-ng-repeat="(key, value)  in GroupData.domains">
                        <thead>
                        <tr>
                            <th>{{key}}</th>
                            <th data-ng-repeat="item in value.actions">
                                <a href="#">{{item}}</a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-ng-repeat="(field_name,field_actions) in value" data-ng-show="field_name!='actions'">
                            <td><a href="#">{{field_name}}</a></td>
                            <td data-ng-repeat="(k,item) in value.actions">
                                <input data-ng-show="field_actions.hasOwnProperty(item)" type="checkbox" data-ng-model="GroupData.group_permissions[value[field_name][item]['perm_id']]" data-ng-checked="GroupData.group_permissions[value[field_name][item]['perm_id']] == value[field_name][item]['perm_id']" data-ng-true-value="{{value[field_name][item]['perm_id']}}" />
                                <span data-ng-show="!field_actions.hasOwnProperty(item)" class="help-inline small">Not used</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div data-ng-show="!GroupData.domains" class="notification attention">Authentication: You do not have the ability to manage the access control for this role.</div>
                </div>
             </div>
        </div>


        <div class="col-md-5 col-xs-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Groups <span class="semi-bold">Management</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="form-group">
                        <label class="form-label">Group name</label>
                        <div class="controls">
                            <input type="text" class="form-control validate[required,custom[onlyLetterNumber]]" data-ng-model="GroupData.group_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <div class="controls">
                            <textarea class="form-control" data-ng-model="GroupData.group_description"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-success btn-cons" type="submit">Save</button>
                            <a class="btn btn-white btn-cons" href="#/groups">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>