<div class="row" data-ng-controller="UserController">
    <form name="form" novalidate="novalidate" monster-validate="save()" data-ng-init="find()" id="validate">
        <div class="col-xs-12 col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Users <span class="semi-bold">Management</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="form-group">
                        <label class="form-label">First name</label>
                        <div class="controls">
                            <input type="text" class="form-control validate[required]" data-ng-model="UserData.first_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Last name</label>
                        <div class="controls">
                            <input type="text" class="form-control validate[required]" data-ng-model="UserData.last_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div class="controls">
                            <input type="email" name="email" id="email" class="form-control validate[required,custom[email]]" data-ng-model="UserData.email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <div class="controls">
                            <input type="password" data-ng-model="UserData.password" name="password" id="password" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Password confirm</label>
                        <div class="controls">
                            <input type="password" class="form-control validate[equals[password]]" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Group</label>
                        <div class="controls">
                            <select class="select2s form-control select2-offscresen validate[required]" data-ng-repeat="group in UserData.groups" select-repeat>
                                <option value="{{group.group_id}}">{{group.group_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons" type="submit">Save</button>
                            <button class="btn btn-white btn-cons" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Image <span class="semi-bold">Uploader</span> </h4>
                </div>
                <div class="grid-body no-border">
                    <img ng-src="{{ UserData.avatarUrl }}" class="preview" />
                    <div class="form-actions">
                        <a href="#" class="btn btn-success" data-ng-click="uploader()">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>